<div class="columns is-variable bd-klmn-columns is-1" style="margin-top: 8px">
  <div class="column is-4 is-primary">
    <%= render 'user' %>
  </div>

  <div class="column is-8">
    <%= render 'articles' %>
  </div>
</div>