<footer class="footer" style="margin-top: 40px;">
  <div class="content has-text-centered">
    <p>
      <strong>Rails Tuning Sample App</strong> by <a href="https://github.com/soartec-lab/rails_tuning_sample_app">SoartTec.lab</a>
    </p>
  </div>
</footer>